body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.orgChart table {
    border: 0;
    margin: 0;
}

div.orgChart div.node {
    width: auto;
    height: auto;
    padding: 1em;
    cursor: help;
}

div.orgChart div.node a {
    cursor: pointer;
}

div.orgChart div.node:hover {
    border: 1px solid #aaa;
}

div.orgChart tr.lines td.left {
    float: none !important;
    padding: 0;
}

div.orgChart tr.lines td.right {
    float: none !important;
    padding: 0;
}

#org-chart table {
    margin: 0;
    border: 0;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
    background-color: inherit;
}

div.orgChart tr.lines td.top {
    border-top: 1px solid black;
}

div.orgChart tr.lines td.left {
    border-right: 1px solid black;
}

div.orgChart tr.lines td.right {
    border-left: 0px solid black;
}

.context a {
    line-height: normal;
    display: block;
    padding: 0.5em;
}

.context a:hover {
    background-color: #eee;
}

.button.close-reveal-modal {
    font-size: inherit;
    line-height: normal;
    position: relative;
    top: inherit;
    right: inherit;
    color: #fff;
    font-weight: normal;
    cursor: inherit;
}

.red {
    color: #cf2a0e;
}

.green {
    color: #43AC6A;
}

.context {
    position: absolute;
    display: none;
    background-color: #fff;
    text-align: left;
    padding: 0;
    z-index: 9999;
}

.context .disabled {
    color: #eee;
}

.draggable {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 5-7 */
    filter: alpha(opacity=80);
    /* Netscape */
    -moz-opacity: 0.8;
    /* Safari 1.x */
    -khtml-opacity: 0.8;
    /* Good browsers */
    opacity: 0.8;
    position: absolute !important;
    cursor: -webkit-grabbing;
    border: 1px solid #e7e7e7;
    width: auto;
    height: auto;
    padding: 1em;
    text-align: center;
}

div.orgChart div.node.listen:hover {
    box-shadow: 0px 0px 10px green;
}

div.orgChart div.node.listen:hover,
div.orgChart div.node.listen a:hover {
    cursor: cell !important;
}

div.orgChart div.node.moving:hover,
div.orgChart div.node.child:hover{
    box-shadow: 0px 0px 10px red;
    cursor: not-allowed;
}

.instructions {
    position: fixed;
    top: 4em;
    left: 1em;
    display: none;
}

.node.child-collection .child {
    position: relative;
}

.node.child-collection .child .context {
    position: absolute;
}